@mixin block {
	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

%block {
	@include block;
}

@mixin full-width {
	left: 50%;
	right: 50%;
	width: 100vw;
	margin-left: -50vw;
	margin-right: -50vw;
}

@mixin full-background($background, $height: 100%) {
	position: relative;

	&::before {
		background: $background;
		content: " ";
		height: $height;
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		position: absolute;
		right: 50%;
		top: 0;
		width: 100vw;
		z-index: -1;
		@content;
	}
}

@mixin center($width, $height: 0) {
	position: absolute;

	@if $height != 0 {
		left: calc(50% - (#{$width} / 2));
		top: calc(50% - (#{$height} / 2));
	} @else {
		left: calc(50% - (#{$width} / 2));
		top: calc(50% - (#{$width} / 2));
	}
}

@mixin is-screen-reader {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0 !important;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

@mixin clearfix {
	&::after {
		clear: both;
		content: " ";
		display: table;
	}
}

@mixin overflow-touch {
	-webkit-overflow-scrolling: touch;
}

@mixin overlay($offset: 0) {
	bottom: $offset;
	left: $offset;
	position: absolute;
	right: $offset;
	top: $offset;
}

%overlay {
	@include overlay;
}

// noinspection CssInvalidPseudoSelector
@mixin placeholder {
	$placeholders: ":-moz" ":-webkit-input" "-moz" "-ms-input";

	@each $placeholder in $placeholders {
		&:#{$placeholder}-placeholder {
			@content;
		}
	}
}

%unselectable {
	user-select: none;
}

@mixin arrow($color: transparent) {
	border: 3px solid $color;
	border-radius: 2px;
	border-right: 0;
	border-top: 0;
	content: " ";
	display: block;
	height: .5em;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: rotate(-45deg);
	transform-origin: center;
	width: .5em;
}

%arrow {
	@include arrow;
}

@mixin symbol-before($symbol, $weight, $margin) {
	&::before {
		content: $symbol;
		display: inline-block;
		font-weight: $weight;
		margin-left: $margin;
		margin-right: $margin;
	}
}

@mixin dot-before($weight, $margin) {
	@include symbol-before("·", $weight, $margin);
}

@mixin dash-before($weight, $margin) {
	@include symbol-before("—", $weight, $margin);
}

@mixin hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

@mixin line-height($height, $font-size) {
	line-height: relative-size($height, $font-size);
}
