$column-gap: 2rem !default;

.block {
	display: block;
	flex: 1 1 0;
	padding: $column-gap;
}

.has-blocks {
	margin-left: -$column-gap;
	margin-right: -$column-gap;
	margin-top: -$column-gap;

	&:last-child {
		margin-bottom: -$column-gap;
	}

	&:not(:last-child) {
		margin-bottom: calc(1.5rem - #{$column-gap});
	}

	> .has-blocks {
		margin: 0 auto;

		> .block {
			margin: 0;
			padding: 0;
		}
	}

	@include tablet {
		display: flex;
	}
}
