// Layout
$body-min-width: 300px !default;
$body-rendering: optimizeLegibility !default;
$body-overflow-x: hidden !default;
$body-overflow-y: scroll !default;

// Colors
$body-color: $text !default;
$body-background-color: $white !default;

// Typography
$body-size: $size-base !default;
$body-font-size: 1em !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;
$body-family: $family-primary !default;
$form-family: $family-primary !default;
$code-family: $family-code !default;
$small-font-size: .875em !default;

// Code blocks
$code-padding: .25em .5em .25em !default;
$code-weight: normal !default;
$code-size: .875em !default;

// Pre
$pre-font-size: .875em !default;
$pre-padding: 1.25rem 1.5rem !default;
$pre-code-font-size: 1em !default;

// Horizontal rule
$hr-background-color: $border !default;
$hr-height: 1px !default;
$hr-margin: 1.5rem 0 !default;

// Strong
$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;

html {
	background-color: $body-background-color;
	font-size: $body-size;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: $body-min-width;
	overflow-x: $body-overflow-x;
	overflow-y: $body-overflow-y;
	text-rendering: $body-rendering;
	text-size-adjust: 100%;
}

body {
	color: $body-color;
	font-size: $body-font-size;
	font-weight: $body-weight;
	line-height: $body-line-height;
}

article,
aside,
figure,
footer,
header,
section {
	display: block;
}

body,
button {
	font-family: $body-family;
}

input,
select,
textarea {
	font-family: $form-family;
}

code,
pre {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-family: $code-family;
}

strong {
	color: $strong-color;
	font-weight: $strong-weight;
}

a {
	color: $link;
	cursor: pointer;
	text-decoration: none;

	strong {
		color: currentColor;
	}

	&:hover {
		color: $link-hover;
	}
}

code {
	background-color: $code-background;
	color: $code;
	font-size: $code-size;
	font-weight: $code-weight;
	padding: $code-padding;
}

hr {
	background-color: $hr-background-color;
	border: none;
	display: block;
	height: $hr-height;
	margin: $hr-margin;
}

small {
	font-size: $small-font-size;
}

span {
	font-style: inherit;
	font-weight: inherit;
}

pre {
	@include overflow-touch;
	background-color: $pre-background;
	color: $pre;
	font-size: $pre-font-size;
	overflow-x: auto;
	padding: $pre-padding;
	white-space: pre;
	word-wrap: normal;

	code {
		background-color: transparent;
		color: currentColor;
		font-size: $pre-font-size;
		padding: 0;
	}
}
