$tag-background-color: $background !default;
$tag-color: $text !default;
$tag-height: 2em;
$tag-padding: .75em;
$tag-radius: $radius !default;
$tag-margin: .25rem;

.tag:not(body) {
	align-items: center;
	background-color: $tag-background-color;
	border-radius: $tag-radius;
	color: $tag-color;
	display: inline-flex;
	font-size: $size-small;
	height: $tag-height;
	justify-content: center;
	line-height: 1;
	padding-left: $tag-padding;
	padding-right: $tag-padding;
	white-space: nowrap;

	// Colors
	@each $name, $pair in $tag-colors {
		$color: nth($pair, 1);
		$color-invert: nth($pair, 2);

		&.is-#{$name} {
			background-color: $color;
			color: $color-invert;
		}
	}

	// Sizes
	&.is-normal {
		font-size: $size-small;
	}

	&.is-medium {
		font-size: $size-normal;
	}

	&.is-large {
		font-size: $size-medium;
	}

	.icon {
		&:first-child:not(:last-child) {
			margin-left: -.375em;
			margin-right: .1875em;
		}

		&:last-child:not(:first-child) {
			margin-left: .1875em;
			margin-right: -.375em;
		}

		&:first-child:last-child {
			margin-left: -.375em;
			margin-right: -.375em;
		}
	}

	&.is-rounded {
		border-radius: $radius-rounded;
	}
}

a.tag {
	&:hover {
		text-decoration: underline;
	}
}

.tags {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	.tag {
		margin-bottom: $tag-margin;

		&:not(:last-child) {
			margin-right: $tag-margin;
		}
	}

	&:last-child {
		margin-bottom: -$tag-margin;
	}

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&.is-centered {
		justify-content: center;

		.tag {
			margin-right: $tag-margin / 2;
			margin-left: $tag-margin / 2;
		}
	}

	&.is-right {
		justify-content: flex-end;

		.tag {
			&:not(:first-child) {
				margin-left: $tag-margin;
			}

			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}

	&.is-medium {
		.tag:not(.is-normal):not(.is-large) {
			font-size: $size-normal;
		}
	}

	&.is-large {
		.tag:not(.is-normal):not(.is-medium) {
			font-size: $size-medium;
		}
	}

	/* stylelint-disable no-descending-specificity */
	&.has-addons {
		.tag {
			margin-right: 0;

			&:not(:first-child) {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}

			&:not(:last-child) {
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}

	/* stylelint-enable */
}
