@use "sass:color";
@use "sass:list";

.select {
	display: inline-block;
	max-width: 100%;
	position: relative;
	vertical-align: top;

	&:not(.is-multiple) {
		height: $input-height;

		&::after {
			@extend %arrow;
			border-color: $input-arrow;
			right: 1.125em;
			z-index: 4;
		}
	}

	select {
		@extend %input;
		cursor: pointer;
		display: block;
		font-size: 1em;
		max-width: 100%;
		outline: none;

		&::-ms-expand {
			display: none;
		}

		&[multiple] {
			height: auto;
			padding: 0;

			option {
				padding: .5em 1em;
			}
		}

		&:not([multiple]) {
			padding-right: 2.5em;
		}

		&[disabled]:hover,
		fieldset[disabled] &:hover {
			border-color: $input-disabled-border-color;
		}
	}

	// States
	&:not(.is-multiple):hover {
		&::after {
			border-color: $input-hover-color;
		}
	}

	// Colors
	@each $name, $pair in $form-colors {
		$color: list.nth($pair, 1);

		&.is-#{$name} {
			&:not(:hover)::after {
				border-color: $color;
			}

			select {
				border-color: $color;

				&:hover,
				&.is-hovered {
					border-color: color.adjust($color, $lighten: -5%);
				}

				&:focus,
				&.is-focused,
				&:active,
				&.is-active {
					box-shadow: $input-focus-box-shadow-size rgba($color, .25);
				}
			}
		}
	}

	// Sizes
	&.is-small {
		@include control-small;
	}

	&.is-medium {
		@include control-medium;
	}

	&.is-large {
		@include control-large;
	}

	&.is-disabled {
		&::after {
			border-color: $input-disabled-color;
		}
	}

	/* stylelint-disable no-descending-specificity */
	// Modifiers
	&.is-rounded {
		select {
			border-radius: $radius-rounded;
			padding-left: 1em;
		}
	}

	&.is-fullwidth {
		width: 100%;

		select {
			width: 100%;
		}
	}
	/* stylelint-enable */
}
